* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img,
fieldset {
  border: 0;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 3px 28px 12px 28px;
}
body,
input,
select,
textarea,
button {
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
}
p {
  line-height: 1.75em;
  margin-bottom: 1.75em;
}
a {
  text-decoration: none;
}
a:focus {
  outline: 1px dotted #f00;
}
label {
  display: block;
}
table,
th,
td {
  border: 1px solid #000;
  text-align: center;
  font-size: 18px;
}
table button,
th button,
td button {
  background: #e40a0a;
  border-radius: 20px;
}
table a,
th a,
td a {
  background: #a9adb1;
  color: #000;
  padding: 2px 4px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 1px 1px 2px #fff;
  box-shadow: 0px 0px 1px #000;
  border: 1px solid #000;
  text-decoration: none;
}
table {
  width: 100%;
}
tr {
  height: 50px;
}
button {
  color: #fff;
  background: #3b4466;
  font-size: 0.8em;
  padding: 2px 10px;
  border-radius: 22px 0;
  margin: 0 10px;
  opacity: 0.7;
}
button:hover {
  opacity: 1;
}
footer {
  margin: 30px 0 0 0;
}
select {
  border-radius: 0 0 8px 8px;
  box-shadow: 1px 2px 5px #c0b3b3;
  border: 1px solid #000;
}
.site-header,
.navigation-bar,
.site-content {
  width: 84.75em;
  margin: auto;
}
.header-outer {
  background-color: #21b7c6;
  height: 7em;
  overflow: hidden;
}
.tagline {
  background-color: #cbbea2;
  color: #000;
  text-transform: uppercase;
  font-size: 2.625em;
  padding: 0.9em 1.25em;
  letter-spacing: 0.05em;
  margin: 0;
  float: left;
}
/* navigation bar */
.navigation-outer {
  background: #00a0b0;
}
.navigation {
  float: left;
  margin: 0;
}
.navigation ul {
  margin: 0;
}
.navigation li {
  display: inline-block;
  margin: 0;
}
.navigation a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.2em 0.8em;
  margin: 0.8em 0;
  font-size: 1.2em;
}
.navigation a:hover {
  opacity: 0.7;
}
.navigation a.active {
  background: #fff;
  color: #00a0b0;
}
.logo {
  float: right;
  background-color: #e4f2e6;
}
.logo img {
  height: 7em;
}
.botonUpload {
  background-color: #fff;
  width: 14em;
  height: 7em;
  position: relative;
  cursor: pointer;
  background-image: url("../images/upload.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0px 35%;
  outline: 0px;
}
.botonUpload .seleccion {
  opacity: 0;
  height: 7em;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 2;
  border: 0px;
  padding: 0px;
  outline: 0px;
  cursor: pointer;
  margin: 0px 10px 0px 8px;
}
.botonUpload input {
  text-align: center;
}
.lista {
  text-align: left;
  padding: 3px 28px 12px 28px;
  background: #5a837c;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  border-radius: 1em;
  box-shadow: 0px 0px 18px #000;
  margin: 2% 0;
  opacity: 0;
}
.information {
  margin-top: 3em;
  margin-bottom: 3em;
}
.imagenes,
.imagen {
  position: relative;
}
.imagenes img,
.imagen img {
  opacity: 0.7;
}
.texto {
  position: absolute;
  top: 20%;
  left: 0;
  font-size: 3em;
}
.texto h2 {
  font-size: 3em;
}
.field {
  font-size: 1.875em;
  text-align: center;
}
/*grupos*/
.group:before,
.group:after {
  content: " ";
  display: table;
}
.group:after {
  clear: both;
}
.hide-vis {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.hide-text {
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}
.progreso {
  height: 20px;
  width: 100%;
  background: #0f8619;
  border-radius: 20px;
  margin: 0 0 12px 0;
  max-width: 100%;
  width: 0%;
}
.estiloLink {
  font-size: 10px;
  border-right: 0px;
}
.estiloBox {
  color: #f0a739;
}
.cambios {
  transition: all 0.7s ease;
}
.cambios label {
  display: inline-block;
  margin: 10px 12px;
  padding: 4px 0;
}
.cambios .nombre,
.cambios .apellido,
.cambios .email,
.cambios .usuario,
.cambios .password {
  width: 308px;
}
.bootbox-body .nombre,
.bootbox-body .apellido,
.bootbox-body .email,
.bootbox-body .usuario,
.bootbox-body .password {
  width: 308px;
}
.bootbox-body .guardar {
  margin: 12px 0;
  width: 138px;
  height: 29px;
}
.archivo {
  width: 0%;
  overflow: hidden;
  transition: all 0.7s ease;
}
